In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
train = pd.read_pickle("./titanic/titanic_train.pkl")
test = pd.read_pickle("./titanic/titanic_test.pkl")
data = [train,test]

In [3]:
data[0].head()

   Survived  Pclass  Sex  SibSp  Parch  Embarked  Title Age_band Fare_band
0         0       3    1      1      0         0      0        1         0
1         1       1    0      1      0         1      2        3         4
2         1       3    0      0      0         0      1        1         0
3         1       1    0      1      0         0      2        2         3
4         0       3    1      0      0         0      0        2         1

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
#tr_train,tr_testに振り分けられるデータはランダムに決まる
# random_state = 1234　は振り分け方を固定するための値
tr_train,tr_test=train_test_split(train, test_size=0.3, random_state = 1234)

In [7]:
#訓練用の説明変数
tr_train_X = tr_train[train.columns[1:]]

# 訓練用の目的変数
tr_train_Y = tr_train[train.columns[0]]

# 評価用の説明変数
tr_test_X = tr_test[train.columns[1:]]

# 評価用の目的変数
tr_test_Y = tr_test[train.columns[0]]

In [9]:
# sklearnの決定木をimport
from sklearn import tree

# 決定木分類器による空の分類器を生成
model=tree.DecisionTreeClassifier()

In [10]:
# 訓練用の説明変数,目的変数を与えて学習させる
model.fit(tr_train_X,tr_train_Y)

# 生成されたモデルを用いて、テスト用の説明変数に対する予測値を入手
predict= model.predict(tr_test_X)

In [11]:
from sklearn import metrics

# 精度をmax 1.0で返すmatrics.accuracy_scoreを利用
# 引数にモデルにより予測された値と、実際の目的変数を与えることで正解率を計算
print('判別率：',metrics.accuracy_score(predict, tr_test_Y))

判別率： 0.7835820895522388